**Number of Pizzas Ordered**

In [1]:
SELECT COUNT(pizza_id) pizza_count
FROM customer_orders

pizza_count
14

**Number of Unique Orders**

In [2]:
SELECT COUNT(distinct order_id) order_count
FROM customer_orders

order_count
10

**Successful Deliveries**

In [2]:
SELECT runner_id ,count(*) succesful_orders
FROM runner_orders
WHERE cancellation is null
GROUP BY runner_id

runner_id,succesful_orders
1,4
2,3
3,1

**Number of Vegetarian and Meat Pizzas Delivered**

In [ ]:
ALTER TABLE pizza_names
ALTER COLUMN pizza_name varchar(10)

In [3]:
SELECT pizza_name, COUNT(c.order_id) pizza_count
FROM customer_orders c JOIN pizza_names n
ON c.pizza_id = n.pizza_id JOIN runner_orders r
ON c.order_id = r.order_id
WHERE cancellation IS NULL
GROUP BY pizza_name

pizza_name,pizza_count
Meatlovers,9
Vegetarian,3

**Vegetarian and Meat Pizzas Delivered per Customer**

In [4]:
SELECT customer_id, pizza_name, COUNT(order_id) pizza_count
FROM customer_orders c JOIN pizza_names n ON c.pizza_id = n.pizza_id
GROUP BY customer_id, pizza_name

customer_id,pizza_name,pizza_count
101,Meatlovers,2
102,Meatlovers,2
103,Meatlovers,3
104,Meatlovers,3
101,Vegetarian,1
102,Vegetarian,1
103,Vegetarian,1
105,Vegetarian,1

**Highest Number of Pizzas Delivered in a Single Order**

In [5]:
SELECT TOP 1 c.order_id, count(c.order_id) pizza_count
FROM customer_orders c JOIN runner_orders r 
ON c.order_id = r.order_id
WHERE cancellation IS NULL
GROUP BY c.order_id
HAVING COUNT(c.order_id) > 1
ORDER BY pizza_count DESC

order_id,pizza_count
4,3

**Changes Made to Pizzas per Customer**

In [8]:
SELECT customer_id,
SUM(
CASE
	WHEN extras IS NOT NULL OR exclusions IS NOT NULL then 1
ELSE 0
END) 'at least 1 change',
SUM(
CASE
	WHEN extras IS NULL AND exclusions IS NULL then 1
ELSE 0
END) '0 changes'
FROM customer_orders c JOIN runner_orders r
ON c.order_id = r.order_id
WHERE cancellation IS NULL
GROUP BY customer_id

customer_id,at least 1 change,0 changes
101,0,2
102,0,3
103,3,0
104,2,1
105,1,0

**Pizzas Delivered with Added or Excluded Toppings**

In [9]:
SELECT COUNT(*) order_count
FROM customer_orders c JOIN runner_orders r
ON c.order_id = r.order_id
WHERE extras IS NOT NULL and exclusions IS NOT NULL and cancellation IS NULL

order_count
1

**Orders per Hour**

In [20]:
SELECT count(*) as order_count, datepart(hour,  order_time) as hour
FROM customer_orders
group by datepart(hour,  order_time)
order by hour

order_count,hour
1,11
3,13
3,18
1,19
3,21
3,23

**Orders per Day**

In [21]:
SELECT FORMAT(DATEADD(DAY, 2, order_time), 'dddd') day_of_week, COUNT(*) order_count
FROM customer_orders
GROUP BY FORMAT(DATEADD(DAY, 2, order_time), 'dddd')
ORDER BY day_of_week DESC

day_of_week,order_count
Sunday,1
Saturday,3
Monday,5
Friday,5