**Total revenue if meatlovers are $12 and Vegetarians are $10**

In [1]:
SELECT
SUM(CASE
	WHEN pizza_id = 1 THEN 12
	ELSE 10
END) total_price
FROM customer_orders c JOIN runner_orders r
ON c.order_id = r.order_id
WHERE cancellation IS NULL

total_price
138

**Total revenue if toppings where $1**

In [2]:
SELECT
SUM(
CASE
	WHEN pizza_id = 1 AND extras is null THEN 12
	WHEN pizza_id = 2 AND extras is null THEN 10
	WHEN extras = '1, 4' THEN 14
	WHEN pizza_id = 1 AND extras is not null THEN 13
	WHEN pizza_id = 2 AND extras is not null THEN 11
END) total_price
FROM customer_orders c JOIN runner_orders r
ON c.order_id = r.order_id
WHERE cancellation IS NULL

total_price
142

**Total revenue if runner's where payed $0.30 per kilometer travelled**

In [3]:
WITH adjusted_pay_cte AS (
SELECT round(SUM(distance * .30), 2) runner_paycheck,
SUM(
CASE
	WHEN pizza_id = 1 THEN 12
	ELSE 10
END) revenue
FROM runner_orders r JOIN customer_orders c
ON r.order_id = c.order_id
WHERE cancellation IS NULL
)
SELECT revenue - runner_paycheck total_pay
FROM adjusted_pay_cte

total_pay
73.38

**Supreme Pizza with all Toppings**

In [ ]:
begin transaction 
insert into pizza_recipes values 
(3, '1, 2, 3, 4, 5, 6, 7, 8. 9. 10, 11, 12')
commit

In [4]:
select *
from pizza_recipes

pizza_id,toppings
1,"1, 2, 3, 4, 5, 6, 8, 10"
2,"4, 6, 7, 9, 11, 12"
3,"1, 2, 3, 4, 5, 6, 7, 8. 9. 10, 11, 12"